@use "../meta" as *;

.card {
  height: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--border-primary);
  border-radius: 40px;

  &__img-wrapper {
    border-radius: rem(40);
    overflow: hidden;
  }

  &__image {
    scale: 110%;
    object-fit: cover;
    transition-duration: var(--transition-duration);
  }

  &__content {
    flex-grow: 1;
    max-width: rem(270);
    padding: rem(20);
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: rem(12);
  }

  &__price {
    margin-top: auto;
    font-weight: 600;
    font-size: 24px;
    line-height: 125%;
  }

  @include hover {
    .card__image {
      scale: 100%;
    }
  }
}
