@use "../meta" as *;

.header {
  padding-bottom: rem(20);
  
  &__inner {
    padding-top: rem(20);
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: rem(40);
  }

  &__menu {
    &-list {
      display: flex;
      align-items: center;
      column-gap: rem(40);
    }

    &-item {
      position: relative;

      &::before {
        content: '';
        position: absolute;
        bottom: -2px;
        left: 0;
        height: 2px;
        width: 0%;
        background-color: currentColor;
        transition-duration: var(--transition-duration);
      }

      @include hover {
        &::before {
          width: 100%;
        }
      }

      &--active {
        &::before {
          width: 100%;
        }
      }
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    column-gap: rem(24);
  }

  &__catalog-link {
    display: inline-flex;
    align-items: flex-start;
    column-gap: rem(8);
  }
}